<!-- index.html -->
  <!DOCTYPE html>
  <html>
  <head>

  <!-- ANGULAR -->
  <script src="angular/angular.js"></script>
  <script src="angular-route/angular-route.js"></script>
  <script src="script.js"></script>

  <!-- BOOTSTRAP & FONTAWESOME -->
  <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.css" />
  <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/font-awesome/4.0.0/css/font-awesome.css" />
</head>

<body ng-app="seimithisCool">

  <header>
    <a href="#incarceration">Incarceration</a>
    <a href="#gain">Gain of Min Coverage</a>
  </header>

  <!-- MAIN CONTENT AND INJECTED VIEWS -->
  <div id="main">
    <div ng-view></div>
  </div>

  <!-- this is where shit will be injected -->
  <label class="radio-inline">
    <input type="checkbox" value="yesbnfnvghm" ng-model="test123">
  </label>
  <label class="radio-inline">
    <input type="checkbox" value="nosadfasdfsadf" ng-model="test456">
  </label>
  <label class="radio-inline">
    <input type="checkbox" value="no" ng-model="test000">
  </label>

  <div class="span12" ng-show="test123">
    <div blah></div>
  </div>
  <div class="span12" ng-show="test456">
    <div yoyo></div>
  </div>


  </body>
  </html>